PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Sifre123!
DB_NAME=mesajcell_db

JWT_SECRET=mesajcell_super_secret_jwt_key_2026
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=mesajcell_refresh_secret_2026
JWT_REFRESH_EXPIRES_IN=7d

OTP_CODE=1234
OTP_EXPIRES_MINUTES=5
